# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.whl
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Test and coverage
.pytest_cache/
.coverage
.tox/
.nox/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Pyright
.pyright/

# Profiling
.prof

.pyc

# Research output
research_table.csv
research_table.json
